<style>
    .consent {
        margin-bottom: 3.4em;
    }
    @media (max-width:480px) {
        .footer {
            position: relative;
        }

        .consent {
            margin:0;
        }
    }


</style>
{#<div class="consent footer navbar fixed-bottom alert alert-dismissible alert-primary">#}
{#    <button type="button" class="close" data-dismiss="alert">&times;</button>#}

{#    <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.#}
{#</div>#}

<nav class="footer navbar fixed-bottom navbar-expand-sm navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#">Impressum</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/privacy">Privacy</a>
            </li>

        </ul>
</nav>

